{{ define "main" }}

<h1>Hi There! I'm Praveen &#x1F44B; &#x1F44B; </h1>

<div class="flexbox-container">
    <div class="container-child">
        <p>I'm a DevOps Engineer. Driven by all the things cloud, web, distributed systems. <a href="about/">(More..)</a></p>
    </div>
    <div class="container-child">
        <img src="{{ "images/headshot.png" | absURL }}">
    </div>
</div>
<h1>Crafts:</h1>
<ul>
    <li>Development && Scripting => Ruby, Python, JS, Bash</li>
    <li>Docker-fu</li>
    <li>CaC - Puppet, Ansible</li>
    <li>IaC - Terraform</li>
    <li>CI/CD Methods</li>
</ul>
<div class="image-grid">
</div>
<h1>Where to find me:</h1>
<ul>
    <li><a href="https://github.com/PraveenMut" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/praveenmut/" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/PraveenMut" target="_blank">Twitter</a></li>
</ul>


{{ end }}